<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello there, this is a confirmation of your order</h1>
    <p>
      You order has been successfully completed,
      your email- <%=@order.email%> <br>
      your order no -<%= @order.id %>
      you have bought
      <% @order.line_items.all.each do |item| %>
        <%= render 'items', item:item%>
      <% end %>
    </p>
    <p>Thanks for your purchase from Jungle and have a great day!</p>
  </body>
</html>
